#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:.5%;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:50%;
    width:10%;
    float:left;
    padding:.5%;	
    font-size:24px;      
}
#navlink {
    text-align:center;

    font-size:24px; 
}
#section {
    width:50%;
    float:left;
    padding:1%;	 	 
}
